.logo {
    width: 179px;
}

* {
 	margin:0; 
	padding:0;
}
 
.navigation {
	margin: auto;
	text-align: center;
	width: 100%;
	font-family: Helvetica, sans-serif;
} 
	
.navigation ul {
	background:#213B4E;
	padding: 0 20px;
	list-style: none;
	position: relative;
	display: inline-table;
	width: 100%;
}

.navigation ul li{
    float:left;
}

.navigation ul li:hover{
	background:#2d516b;
}

.navigation ul li:hover a{
 	color:#000;
}

.navigation ul li a{
 	display: block;
 	padding: 25px;
 	color: #fff;
 	text-decoration: none;
}

